<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Genre</key>
        <array>
            <dict>
                <key>Name</key>
                <string>Pop</string>
                <key>Key</key>
                <string>gr723</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Soft Hits</string>
                <key>Key</key>
                <string>sr2885343</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Country</string>
                <key>Key</key>
                <string>gr359</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Rock</string>
                <key>Key</key>
                <string>gr498</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Indie</string>
                <key>Key</key>
                <string>gr58</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Hip Hop</string>
                <key>Key</key>
                <string>gr324</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Electronic</string>
                <key>Key</key>
                <string>gr216</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Reggae</string>
                <key>Key</key>
                <string>gr575</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Dance</string>
                <key>Key</key>
                <string>gr593</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Jazz</string>
                <key>Key</key>
                <string>gr308</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Blues</string>
                <key>Key</key>
                <string>gr475</string>
            </dict>
        </array>
    </dict>
</plist>
